<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li >
				<button id="sections-sidebar-btn">
					<i class="fa fa-bars"></i>
					<span>sections</span>
				</button>
			</li>
			<li>
				<button id="search-modal-btn">
					<i class="fa fa-search"></i>
					<span>search</span>
				</button>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li>
				<button id='subscribe-nav-btn'>Subscribe now</button>
			</li>
			<li>
				<button id='login-nav-btn'>Log In</button>
			</li>
			<li id="gear-dropdown-btn-li">
				<button id="gear-dropdown-btn">
					<i class="fas fa-cogs"></i>
				</button>
				<%= render partial: 'shared/gear_dropdown' %>	
			</li>
		</ul>
	</nav>
</header>